<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Help it. By<br>little actions.</h2>
            <a href="http://bit.ly/xrojan-open-source" target="_blank" class="btn btn-outline btn-xl page-scroll">Visit Open Source Projects</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
