<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Discover more apps</h2>
                <p>Our apps are available on Google Playstore! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="http://bit.ly/xrojanapps" target="_blank"><img src="/img/google-play-badge.svg" alt="play-store"></a>
                </div>
            </div>
        </div>
    </div>
</section>
