<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Bloxris is an efficient way to maximize the way you enjoy life one blox at time.</h1>
                        <a href="http://bit.ly/bloxris" target="_blank" class="btn btn-outline btn-xl page-scroll">DOWNLOAD BLOXRIS</a>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">BROWSE MORE APPS</a>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/screenshot_bloxris.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
