<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Digital Services</h3>
                    <p class="text-muted">We create optimized mobile and responsive web applications for your business.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>Game Development</h3>
                    <p class="text-muted">We develop games in Android, iOS, Web and Desktop Platforms.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">Guaranteed that we learn, curate and use the industry grade practices and technologies for our products.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>We Contribute</h3>
                    <p class="text-muted">Xrojan does not only focuses on the business side of digital goods, but we also contribute to open source projects.</p>
                </div>
            </div>
        </div>
    </div>
</section>
